<h3>Dane podstawowe</h3>
<% semantic_form_for @user do |f| %>

	<% f.inputs do %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email, :hint => @user.facebook? ? "podaj do celów kontaktowych" : nil %>
		<%= f.input :sex, :as => :radio, :collection => [["Mężczyzna", 0], ["Kobieta", 1]] %>
		<%= f.input :birthdate, :end_year => 18.years.ago.at_beginning_of_year.year, :start_year => 1950 %>
		<%= f.input :website, :required => false, :hint => "zaczynać się musi od http://" %>
		<%= f.input :phone, :hint => "widoczny tylko dla pracodawcy", :required => false %>
		<%= f.input :place_id, :collection => Place.cities.map { |place| [place.name, place.id] } %>
		<%= f.input :github, :required => false %>
<% end %>
<p><%= f.submit "Zapisz" %></p>
<% end %>

<h3>Avatar</h3>
<% if @user.facebook? %>
	<%= avatar_for(@user) %>
<% else %>
	<% semantic_form_for @user, :url => user_path(@user, :format => :plain), :html => { :multipart => true, :id => "file_upload" } do |f| %>
		<%= image_tag @user.avatar.url(:thumb), :id => 'avatar' %><br />
		<div class="loader"></div>
		<% f.inputs do %>
			<%= f.input :avatar, :required => false %>
		<% end %>
	<% end %>
<% end %>

<h3>Warsztat pracy</h3>
<% semantic_form_for @user do |f| %>
	<% f.inputs do %>
		<%= f.input :operating_system_list, :required => false, :hint => "podaj odzielone przecinkiem np. Linux, Mac OS X, Windows"  %>
		<%= f.input :framework_list, :required => false, :hint => "podaj odzielone przecinkiem np. Ruby On Rails, Django, Pylons, CakePHP, jQuery, Prototype" %>
		<%= f.input :program_list, :required => false, :hint => "podaj odzielone przecinkiem np. TextMate, NetBeans, Aptana, Eclpise" %>
		<%= f.input :language_list, :required => false, :hint => "podaj odzielone przecinkiem np. Ruby, Python, ASP, Java, PHP, HTML, JS, CSS" %>
		<%= f.input :database_list, :required => false, :hint => "podaj odzielone przecinkiem np. Postgresql, MySql, Oracle" %>
		<%= f.input :version_control_system_list, :required => false, :hint => "podaj odzielone przecinkiem np. GIT, SVN, Mercurial" %>
		<%= f.input :plugin_list, :required => false, :hint => "podaj odzielone przecinkiem np. authlogic, will_paginate, formtastic, paperclip" %>
	<% end %>
<p><%= f.submit "Zapisz" %></p>
<% end %>

<h3>Osiągnięcia/Edukacja</h3>

<ul id="achievements">
	<%= render :partial => @user.achievements.all(:order => "type_id ASC") %>
</ul>

<% semantic_form_for @user.achievements.new do |f| %>
	<% f.inputs do %>
		<%= f.input :type_id, :collection => collection_from_types(ACHIEVEMENT_TYPES), :include_blank => false %>
		<%= f.input :from, :start_year => 20.years.ago.year, :prompt => false %>
		<%= f.input :to, :prompt => { :year => '[ aktualnie ]' }%>
		<%= f.input :description %>
	<% end %>

	<%= f.submit "Dodaj" %>
<% end %>
<div class="loader" id="new_achievement_loader"></div>