<% title ["Curriculum Vitae", @user.full_name] %>

<div class="cv_body">
	<h3>Dane osobiste</h3>
	<dl class="cv_main">
		<dt>imię i nazwisko</dt>
		<dd><%= @user.full_name %></dd>
		<dt>płeć</dt>
		<dd><%= @user.sex_s %></dd>
		<dt>data urodzenia</dt>
		<dd><%= l @user.birthdate, :format => :long %></dd>
		<dt>miejsce zamieszkania</dt>
		<dd><%= @user.place.nil? ? "Brak" : @user.place.name %></dd>
		<% if pracodawca?(@user) %>
			<dt>e-mail</dt>
			<dd><%= link_to @user.email, "mailto:#{@user.email}" %></dd>
			<% if (@user.phone.nil? || !@user.phone.empty?) %>
				<dt>telefon</dt>
				<dd><%= @user.phone %></dd>
			<% end %>
		<% else %>
			<dt>e-mail</dt>
			<dd>wymagane konto pracodawcy</dd>
			<dt>telefon</dt>
			<dd>wymagane konto pracodawcy</dd>
		<% end %>
		<% if !@user.website.nil? || !@user.website.empty? %>
		<dt>strona WWW</dt>
		<dd><%= link_to(@user.website, @user.website, :target => "_blank") %></dd>
		<% end %>
		<% if @user.facebook? %>
		<dt>facebook</dt>
		<dd><fb:name uid="<%= @user.facebook_uid %>" useyou="false"></fb:name>&nbsp;</dd>
		<% end %>
	</dl>
	
	<% @grouped_achievements.each do |type_id, achievements| %>
		<h3><%= ACHIEVEMENT_TYPES[type_id] %></h3>
		<dl class="cv_main">
			<% for achievement in achievements %>
				<dt><%= data_range(achievement) %></dt>
				<dd><%= achievement.description %></dd>
			<% end %>
		</dl>
	<% end %>
	
	<h3>Warsztat pracy</h3>
	<dl class="cv_main">
	<% [:operating_system, :framework, :plugin, :program, :language, :database, :version_control_system].each do |group| %>
		<dt><%= t("groups.#{group}").downcase %></dt>
		<%- tags = @user.send("#{group}_list") -%>
		<dd><%= tags.empty? ? "brak" : tags %></dd>
	<% end %>
	</dl>
	
	<% if @user.github? %>
		<h3>Projekty prywante i non-profit(repozytoria na github.com)</h3>
		<% if @user.repositories.empty? %>
			<p>Nie można pobrać informacji z github.com</p>
		<% else %>
		<dl class="cv_main">
			<% for repository in @user.repositories %>
			<dt><%= link_to repository.name, repository.url, :target => "_blank" %></dt>
			<dd><%= repository.description.nil? || repository.description.empty? ? "Brak opisu" :  repository.description %></dd>
			<% end %>
		</dl>
		<% end %>
	<% end %>
</div>

<p>
	<strong>
	<%= @user.full_name %> wyraża zgodę na przetwarzanie swoich danych osobowych zawartych w swojej ofercie pracy dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z ustawą z dn. 29.08.97 roku o Ochronie Danych Osobowych Dz. Ust Nr 133 poz. 883).
	</strong>
</p>