<h2><%= title "Nowa oferta" %></h2>

<% semantic_form_for(@offer) do |f| %>
	<% f.inputs do %>
		<%= f.input :title %>
		<%= f.input :place_id, :collection => Place.cities.map { |place| [place.name, place.id] } %>
		<%= f.input :type_id, :as => :select, :collection => offers_collection %>
		<%= f.input :etat, :as => :radio, :collection => [["Zlecenie", false], ["Etat", true]] %>
		<%= f.input :description %>
	<% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', offers_path %>