<h2><%= title @offer.title %></h2>

<%= image_tag @offer.user.logo.url unless @offer.user.logo.original_filename.nil? %>
<%= RedCloth.new(@offer.description).to_html %>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>