<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= display_meta_tags :site => 'webpraca.net' %>
	<meta name="viewport" content="width=900" />

	<%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'ui' %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_tag 'jquery.min.js', 'rails', 'application' %>
	
	<%= fb_connect_javascript_tag %>
	<%= init_fb_connect "XFBML", :js => :jquery %>
</head>
<body>
	<div class="wrapper">
		<p class="text_right">
			<% if logged_in? %>
				Witaj <%= login_for(self.current_user) %>! 
				<%= link_to "Edycja Profilu", settings_path %> | 
				<%= link_to "Wyloguj", logout_path %>
			<% else %>
				<%= facebook_connect(:text => "Zaloguj się na Facebooku", :controller => 'user_sessions') %> | 
				<%= link_to "Zaloguj", login_path %> | 
				<%= link_to "Rejestracja", register_path %>
			<% end %>
		</p>
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :class => "flash_#{name}" %>
		<%- end -%>
		<%= yield %>
	</div>
</body>
</html>